h1 {
  text-transform: capitalize;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    width: fit-content;
    border: 5px solid black;
    border-radius: 15px;
}

#weather {
  border: 2px solid black;
  display: flex;
  flex-direction: column;

}


.card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 15px;
  padding: 50px;
  align-items: center;
  background: linear-gradient(128deg, hsl(210, 100%, 76%), hsl(40, 100%, 75%));
  box-shadow: 2px 2px 5px black;
  margin-top: 35px;
}

.card h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 25px;
}

.card p {
  font-size: 1.5rem;
  margin: 5px 0;
}

.cityDisp, .tempDisp {
  font-size: 3.5rem;
  font-weight: bold;
}

.weatherForm {
  margin: 20px;
}

.cityinput {
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid blue;
  border-radius: 15px;
  width: 300px;
  margin: 25px;
}

button[type='submit'] {
  padding: 15px;
  font-size: 2rem;
  background-color: greenyellow;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;;
}

button[type='submit']:hover {
  background-color: green;
}

.errorDisp{
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}


@media (max-width: 376px) {

  form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 10px;
    width: fit-content;
    border: 5px solid black;
    border-radius: 15px;
    margin: 25px;
  }

}
