* {
    background-color: tan
}

/* #region navigation */

@media (max-width:600px) {
    * {
        background-color: #e8dfca;
    }

    #zones {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .red {
        border: #E4004B 5px solid;
        border-radius: 15px;
        width: 50%;
    }

    .yellow {

        border: #FFD93D 5px solid;
        border-radius: 15px;
        width: 50%;
    }

    .green {

        border: #08CB00 5px solid;
        border-radius: 15px;
        width: 50%;
    }

    .athlete {
        border: black 5px solid;
        border-radius: 15px;
        width: 40%;
    }




}



@media (min-width:601px) {
    * {
        background-color: tan;
    }

    #zones {
        display: flex;
        flex-direction: row;
        padding: 15px;
        text-align: center;
    }


    .red {
        border: #E4004B 5px solid;
        border-radius: 15px;
        width: 50%;
        text-transform: capitalize;
    }

    .yellow {

        border: #FFD93D 5px solid;
        border-radius: 15px;
        width: 50%;
        text-transform: capitalize;
    }

    .green {

        border: #08CB00 5px solid;
        border-radius: 15px;
        width: 50%;
        text-transform: capitalize;
    }

    #athleteHeader h1 {
        border: solid black 2px;
        border-radius: 10px;
        text-align: center;
        width: 10em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;

    }

    #athleteQue {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 5px solid darkblue;
        border-radius: 15px;
        padding: 15px;
    }



    .athlete {
        border: black 5px solid;
        border-radius: 15px;
        width: 15em;
        margin: 10PX;
        text-transform: capitalize;
    }

   .athlete ul {
    list-style: none;
   }

   .mat {
    font-size: 23px;
   }

}



main {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid blue;
    border-radius: 15px;
    gap: 15px;
    padding: 15px;
}



#navi {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 75px;
}

.link {
    border: black solid 2px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.link li {
    margin-right: 35px;
    padding: 5px;
    text-transform: capitalize;
}


.innerUl li {
    list-style: none;
}

/* #endregion */

header {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

main {
    display: flex;
    justify-content: center;
    border: 2px solid;
    margin-top: 15px;
}

#contact {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    width: fit-content;
    border: 5px solid black;
    border-radius: 15px;

}

form input {
    margin: 10px;
}

#box {

    border-radius: 15px;
    text-align: center;
    margin-top: 55px;
}

.bigbox {
    border: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 5px solid;
    margin-top: 15px;
}

nav li{
    text-align: center;
    display: inline;
    margin-right: 25px;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 5px solid;
    margin-top: 15px;
}

footer li{
    text-align: center;
    display: inline;
    margin-right: 25px;
}

@media (max-width: 376px) {

    fieldset {
        border: 5px solid black;
        border-radius: 15px;
        width: 10%;
        padding: 20px;
    }


    form {
        display: flex;
        flex-direction: column;
    }


    #form input {
        border: 5px solid rgb(135, 155, 213);
        border-radius: 15px;
        margin-left: 10px;
    }

    #results {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 25px;
        width: 85%;
    }


    .box {
        border-radius: 20px;
        margin: 10px;
        padding: 15px;
        height: 25%;
    }

    nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 15px;
}

    nav li{
    text-align: center;
    display: inline;
    margin-right: 1px;
}

    footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 5px solid;
    margin-top: 15px;
}

    footer li{
    text-align: center;
    display: inline;
    margin-right: 1px;
}

#navi  {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}
@media (max-width:600px) {
    * {
        background-color: #e8dfca;
    }

    #zones {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .red {
        border: #E4004B 5px solid;
        border-radius: 15px;
        width: 50%;
    }

    .yellow {

        border: #FFD93D 5px solid;
        border-radius: 15px;
        width: 50%;
    }

    .green {

        border: #08CB00 5px solid;
        border-radius: 15px;
        width: 50%;
    }

    .athlete {
        border: black 5px solid;
        border-radius: 15px;
        width: 40%;
    }




}



@media (min-width:601px) {
    * {
        background-color: tan;
    }

    #zones {
        display: flex;
        flex-direction: row;
        padding: 15px;
        text-align: center;
    }


    .red {
        border: #E4004B 5px solid;
        border-radius: 15px;
        width: 50%;
        text-transform: capitalize;
    }

    .yellow {

        border: #FFD93D 5px solid;
        border-radius: 15px;
        width: 50%;
        text-transform: capitalize;
    }

    .green {

        border: #08CB00 5px solid;
        border-radius: 15px;
        width: 50%;
        text-transform: capitalize;
    }

    #athleteHeader h1 {
        border: solid black 2px;
        border-radius: 10px;
        text-align: center;
        width: 10em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;

    }

    #athleteQue {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 5px solid darkblue;
        border-radius: 15px;
        padding: 15px;
    }



    .athlete {
        border: black 5px solid;
        border-radius: 15px;
        width: 15em;
        margin: 10PX;
        text-transform: capitalize;
    }

   .athlete ul {
    list-style: none;
   }

   .mat {
    font-size: 23px;
   }

}

/*

}


@media (max-width:600px) {
    * {
        background-color: #e8dfca;
    }

    #zones {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .red {
        border: #E4004B 5px solid;
        border-radius: 15px;
        width: 50%;
    }

    .yellow {

        border: #FFD93D 5px solid;
        border-radius: 15px;
        width: 50%;
    }

    .green {

        border: #08CB00 5px solid;
        border-radius: 15px;
        width: 50%;
    }

    .athlete {
        border: black 5px solid;
        border-radius: 15px;
        width: 40%;
    }




}




@media (min-width:601px) {
    * {
        background-color: tan;
    }

    #zones {
        display: flex;
        flex-direction: row;
        padding: 15px;
        text-align: center;
    }


    .red {
        border: #E4004B 5px solid;
        border-radius: 15px;
        width: 50%;
        text-transform: capitalize;
    }

    .yellow {

        border: #FFD93D 5px solid;
        border-radius: 15px;
        width: 50%;
        text-transform: capitalize;
    }

    .green {

        border: #08CB00 5px solid;
        border-radius: 15px;
        width: 50%;
        text-transform: capitalize;
    }

    #athleteHeader h1 {
        border: solid black 2px;
        border-radius: 10px;
        text-align: center;
        width: 10em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;

    }

    #athleteQue {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 5px solid darkblue;
        border-radius: 15px;
        padding: 15px;
    }



    .athlete {
        border: black 5px solid;
        border-radius: 15px;
        width: 15em;
        margin: 10PX;
        text-transform: capitalize;
    }

   .athlete ul {
    list-style: none;
   }

   .mat {
    font-size: 23px;
   }

}

* {
    background-color: tan;
} */

