* {
    background-color: tan;
}




/* #region watch list */
 main {
    grid-column: 1 / 6;
    border: 2px solid yellow;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(4, 1fr));
    gap: 15px;
    justify-items: center;
}

.box {
     border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 10px red;
    padding: 25px;
    width: 10em;
    height: 5em;
    font-size: medium;
}

.box.yellow {
    /* box-shadow: 5px 5px 10px yellow; */
}

.box.green {
    /* background-color: hsl(145, 98%, 63%); */
}
/* #endregion */
